[user]
  email = bruno.delfino1995@gmail.com
  name = Bruno Felipe Leal Delfino
[core]
  editor = vim
[alias]
  please = push --force-with-lease
  commend = commit --amend --no-edit
  it = !git init && git commit -m \"Initial commit\" --allow-empty
  grog = log --graph --decorate --format=format:\"%C(bold blue)%h%C(bold yellow)%d%n%C(white)%s%n%C(white)%an at %C(bold green)(%ar)%n\"
  merc = merge --no-ff
  shorty = status --short --branch
  unstage = reset HEAD
  last = log -1 HEAD
  slog = log --oneline
  renew = "!f() { git checkout master; git remote --delete origin $1; git branch -D $1; git checkout -b $1; git push -u origin $1; }; f"
  refresh = "!f() { git checkout master; git branch -D $1; git fetch origin $1; git checkout $1; }; f"
[pull]
  rebase = true
